@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Web.Controllers.QuestionList
<br />

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-1"></div>
        <div class="col-xs-3">
            <input id="search" class="form-control" placeholder="search for" asp-for="@Model.SearchText">
        </div>

        <div class="col-xs-1">
            <button id="search_btn" type="submit" class="btn btn-primary" onclick="window.location.href = '/questions?q=' + getElementById('search').value; return false"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
</form>
<hr />

@if (Model.Questions == null || Model.Questions.Count == 0)
{
    <span>Sorry, no results found</span>
}
else if (!string.IsNullOrEmpty(Model.SearchText))
{
    <span>@Model.ResultsCount results found</span>
}

@foreach (var q in Model.Questions)
{
    <div class="media">
        <div class="media-left text-center">
            <h1 style="margin-bottom:-6px">@q.Answers.Count</h1><small>
                <span>answers</span>
            </small>
        </div>
        <div class="media-body" style="padding-left:16px">
            <a href="/questions/show?id=@q.Id"><h4>"@q.Title"</h4></a>

            <p>@Html.Raw(q.HtmlBody)</p>

            <div class="text-right">
                @if (!string.IsNullOrEmpty(q.User.ProfileImageUrl))
                {
                    <img src="@q.User.ProfileImageUrl" height="20" width="20" />
                }
                <small>@q.User.DisplayName</small>
                <small>Asked @q.Created.ToString("dd MMM yyyy") at @q.Created.ToString("HH:mm")</small>
            </div>
            <hr />
        </div>
    </div>
}

@if (Model.MaxPages > 1)
{
    <ul class="pagination">
        @for (var p = 1; p <= Model.MaxPages; p++)
        {
            var c = Model.Page == p ? "active" : "";
            var qs = "p=" + p;

            if (!string.IsNullOrEmpty(Model.SearchText))
            {
                qs += "&q=" + Model.SearchText;
            }
            <li class="@c"><a href="/questions?@qs">@p</a></li>
        }
    </ul>
}