@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Data.Question

<script type="text/javascript">

    var questionId = @Model.Id;

    var del = function (answerId) {
        var data = { questionId: questionId, answerId: answerId };
        
        $.ajax({
            url: '/questions/deleteanswer',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            success: function (data) {
                location.reload();
            }
        });
    };

    var answer = function () {
        var data = { questionId: questionId, answer: document.getElementById('add_answer').value };

        $.ajax({
            url: '/questions/answer',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            success: function (data) {
                location.reload();
            }
        });
    };

    var vote = function(answer, direction) {
        var data = { answerId: answer, direction: direction };

        $.ajax({
            url: '/questions/vote',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            success: function (data) {
                location.reload();
            }
        });
    }

</script>

<br />

<a href="/questions/show/@Model.Id"><h4>@Model.Title</h4></a>
<hr />

<p>@Html.Raw(Model.Body)</p>
<div class="text-right">
    <small>Asked 14th Jan 2017 at 17:05</small>
    <br />

    <button class="btn btn-default btn-sm">edit&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></button>
    <button class="btn btn-default btn-sm">delete&nbsp;<span class="glyphicon glyphicon-remove-sign"></span></button>
</div>

<h4>@Model.Answers.Count Answers</h4>
<hr />

@foreach (var a in Model.Answers)
{
    <div class="row">
        <div class="col-sm-1" style="text-align:center">
            <span class="glyphicon glyphicon-triangle-top" style="font-size: 20px" onclick="vote(@a.Id, 1)"></span>
            <h4 style="margin:0">@a.Score</h4>
            <span class="glyphicon glyphicon-triangle-bottom" style="font-size: 20px;" onclick="vote(@a.Id, -1)"></span>
        </div>
        <div class="col-sm-11">
            <p>@a.Body</p>
            <div class="text-right">
                <small>14th Jan 2017 at 17:05</small>
                <br />

                <button class="btn btn-default btn-sm">edit&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-default btn-sm" onclick="del(@Model.Id, @a.Id)">
                    delete&nbsp;<span class="glyphicon glyphicon-remove-sign"></span>
                </button>
            </div>
            <hr />
        </div>
    </div>
}

<div class="form-group">
    <h4>Your answer</h4>
    <blockquote>
        <textarea id="add_answer" style="max-width:initial" class="form-control" rows="5"></textarea>
    </blockquote>
    <button class="btn btn-primary" onclick="answer()">Post Your Answer</button>
</div>

@*@await Component.InvokeAsync("AddAnswer", new { questionId = Model.Id })*@
